/* Colors:
Header #334257
Titles #476072
Card #548CA8
Background #EEEEEE */

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    display: block;
    background-color: #EEEEEE;
    

}
nav{
    list-style-type: none;
    text-align: center;
    background-color: blue;
    padding: 2px;
    display: block; 
    height: 50px;  
    float: top;
    position: relative;
    width: 100%;
    top: 0;
    background-color: #334257;
    position: fixed;
    
}

nav li{
    display:inline;
    text-align: center;
    margin: 0 10px 0 0;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 2px 7px 2px 7px;
}


.info{
    padding: 10px;
    background-color:  #334257;
    text-align: center;
    margin-top: 50px; 
    
}

.profpic{
    height: 195px;
    width: 195px;
    border-radius: 50%;
    
}

.info li{
    text-decoration: none;
    display: inline;
    color : white
}

.icon{
    height: 2.5em;
    width: 2.5em;
    margin: 0 10px;
}

.infotitle{
    font-size: 1.625em;
    margin-bottom: .688em;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.1;
    box-sizing: border-box;
    text-align: center;
    color: inherit
}

.infotext{
    color: inherit;
    opacity: .65;
    font-size: 1em;
    margin : 0 0 12px;
}

h2{
    margin: 20px;
    line-height: 1.1;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #476072 ;
}

h3{
    margin: 30px;
}

p{
    margin: 10px;
    box-sizing: border-box;
    line-height: 1.875em;
    font-size: 16px;
}

img{
    width: 100%;
    text-align: center;
}

.projects{
    text-align: center;
}

.contacto{
    margin: 0 0 22px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4em;
    display: block;
    
}

.formulario{
    text-align: center;
    display: block;
    margin: 0 0 10px;
    
    
}

.formulario label {
    margin: 10px;
    
    
}

.formulario input{
    width: 50%;
    align-items: right;
}

.formulario textarea{
    width: 50%;
    align-items: right;
}

@media (min-width: 992px){
 .info{
     float: left;
     width: 25%;
     box-sizing: border-box;
     position : fixed;
     padding: 10px;
     left: 10px;
     top: 10px;
     margin-top: 10px;
     height: 75%;

 } 

 nav{
     float: right;
     right: 1px;
     z-index: 4;
     width: 5%;
     position: fixed;
     height: 100%;
     text-align: center;
     display: flex;
     align-items:start;
     align-content: center;
     
 }

 .resume{
     width: 60%;
     
     margin-left: 30%;
     margin-right: 10%;
     
 }

 nav li {
     padding: 25px 0px 25px 0px;
     
     height: 40px;
     display: block;
 }
 
 ul{
     list-style-type: none;
 }

}
